.container {
	a {
		text-decoration: none;
		cursor: pointer;
	}
	.icon {
		margin-top: 50px;
	}
}

.containerCard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 200px;
}
