@font-face {
	font-family: "Montserrat";
	src: url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
}
* {
	font-family: "Montserrat";
}
.App {
	text-align: center;
	background-color: aqua;
	padding: 0 200px 200px 200px;
	background-image: url("https://media.istockphoto.com/photos/weather-forecast-picture-id477110708?k=20&m=477110708&s=170667a&w=0&h=ZHYBBdp8EiYpnSewH8b_Nf-c84ReSIkHpFBnw_AjXqw=");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
