.App {
	text-align: center;
	background-color: aqua;
	height: 1000px;
	background-image: url("https://www.repstatic.it/content/contenthub/img/2021/09/15/121900559-ad5f5f01-f44e-4294-acf0-7ccf89b15b22.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
